# This is a comment.

# About this file:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# - Inline comments are supported.
# - Filelocation must be one of: /CODEOWNERS, /docs/CODEOWNERS, /.github/CODEOWNERS
# - Each line is a file pattern followed by one or more owners.
# - Order is important. The last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# These will be requested for review when someone opens a pull request.
# *       @WouterVH  # via github-username
*       wouter@libranet.eu  # via email assocciated with a  github-username