# dev-symlinks to .venv to make bin/python work
# do not add a slash if there are symlinks
bin
lib
pyvenv.cfg

# Distribution / packaging
.cache/
_build/
dist/
var/

# vscode
.vscode/*
.idea

# kate-editor
*.kate-swp

# bckup-files
*.bak

# sonarcloud-analysis
.scannerwork/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


## Unit test / coverage reports
#htmlcov/
#.tox/
#.nox/
#.coverage
#.coverage.*
#.cache
#_coverage
#nosetests.xml
#coverage.xml
#*.cover
#.hypothesis/
#.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# linux-desktop
.directory

# Environments
.env
.venv
